{% extends "base.html" %}
{% load staticfiles %}
{% load humanize %}

{% load comments_tags %}
{% load votes_tags %}

{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<h2> Links categorized as {{ object.name }} </h2>

<ul>
{% for post in posts_in_jaryanak %}
	{% if post.is_link %}
		{% with post.content_object as link %}
		{% get_comment_count for link as comment_count %}

		<li>
			<a href="{{ link.url }}"><h3>{{ link.title }}</h3></a>

			{% with link|content_type as ctype %}
			  <form class="vote" method="POST" action="{% url 'vote' %}">
			    {% csrf_token %}
			    <input type="hidden" name="content_type" value="{{ ctype.id }}" />
			    <input type="hidden" name="object_id" value="{{ link.id }}" />
			    <input type="hidden" name="vote" value="+1"/>
			    <input type="submit" value="+" />
			  </form>

			  <div>
			    {% score_for_object link as score %} 
			    <p class="{{ ctype.id }}-{{ link.pk }}">{{ score.score }}</p>
			  </div>
			  
			  <form class="vote" method="POST" action="{% url 'vote' %}">
			    {% csrf_token %}
			    <input type="hidden" name="content_type" value="{{ ctype.id }}" />
			    <input type="hidden" name="object_id" value="{{ link.id }}" />
			    <input type="hidden" name="vote" value="-1"/>
			    <input type="submit" value="-" />
			  </form>
			{% endwith %}
			
			<a href="{% url 'link_detail' pk=link.id slug=link.slug %}">
				{% if comment_count > 0 %} {{ comment_count }} Comments {% else %} Discuss {% endif %}
			</a>
			<p> 
				Submitted by: <a href="{% url 'profile' slug=link.submitter %}">
				{% if link.submitter.userprofile.picture %}
		  			<img src="{{ MEDIA_URL }}{{ link.submitter.userprofile.picture.url_15x15 }}"></img><b> {{ link.submitter}}</b></a>
				{% else %}
		 			<img src="../../../media/images/profile_pictures/default.15x15.jpg"></img><b> {{ link.submitter }}</b></a>
				 	{% endif %}

				at: {{ link.submit_date | naturaltime }} |
				{% if link.favicon %}
					<img src="{{ link.favicon }}" width="20" height="20">
				{% endif %}
				Domain: {{ link.domain }} |
				Jarynak: <a href="{% url 'jaryanak_detail' pk=link.jaryanak.pk slug=link.jaryanak.slug %}">{{ link.jaryanak.name }}</a>
				{% if not link.language.slug = "farsi" %}
					| language: {{ link.language }}
				{% endif %}
			</p>
		</li>
		{% endwith %}

	{% elif post.is_text %}

		{% with post.content_object as text%}
		{% get_comment_count for text as comment_count %}


		<li>
			<a href="{% url 'text_detail' pk=text.pk slug=text.slug %}"><h3>{{ text.title }}</h3></a>

			{% with text|content_type as ctype %}
			  <form class="vote" method="POST" action="{% url 'vote' %}">
			    {% csrf_token %}
			    <input type="hidden" name="content_type" value="{{ ctype.id }}" />
			    <input type="hidden" name="object_id" value="{{ text.id }}" />
			    <input type="hidden" name="vote" value="+1"/>
			    <input type="submit" value="+" />
			  </form>

			  <div>
			    {% score_for_object text as score %} 
			    <p class="{{ ctype.id }}-{{ text.pk }}">{{ score.score }}</p>
			  </div>
			  
			  <form class="vote" method="POST" action="{% url 'vote' %}">
			    {% csrf_token %}
			    <input type="hidden" name="content_type" value="{{ ctype.id }}" />
			    <input type="hidden" name="object_id" value="{{ text.id }}" />
			    <input type="hidden" name="vote" value="-1"/>
			    <input type="submit" value="-" />
			  </form>
			{% endwith %}
			
			<a href="{% url 'text_detail' pk=text.id slug=text.slug %}">
				{% if comment_count > 0 %} {{ comment_count }} Comments {% else %} Discuss {% endif %}
			</a>
			<p> 
				Submitted by: <a href="{% url 'profile' slug=text.submitter %}">
				{% if link.submitter.userprofile.picture %}
		  			<img src="{{ MEDIA_URL }}{{ text.submitter.userprofile.picture.url_15x15 }}"></img><b> {{ text.submitter}}</b></a>
				{% else %}
		 			<img src="../../media/images/profile_pictures/default.15x15.jpg"></img><b> {{ text.submitter }}</b></a>
				 	{% endif %}

				at: {{ text.submit_date | naturaltime }} |
				{% if text.favicon %}
					<img src="{{ text.favicon }}" width="20" height="20">
				{% endif %}
				Jarynak: <a href="{% url 'jaryanak_detail' pk=text.jaryanak.pk slug=text.jaryanak.slug %}">{{ text.jaryanak.name }}</a>
				{% if not text.language.slug = "farsi" %}
					| language: {{ text.language }}
				{% endif %}
			</p>
		</li>
		{% endwith %}

	{% endif %}
{% endfor %}
</ul>

<div id="nav">

{% if object.logo %}
<a><img src="{{ MEDIA_URL }}{{ object.logo.url_250x250 }}"></img></a>
{% endif %}

{% if user.is_authenticated %}
	{% if followed %}
		<p><a href="{% url 'follow' pk=object.id slug=object.slug %}"> Unfollow </a></p>
	{% else %}
		</p><a href="{% url 'follow' pk=object.id slug=object.slug %}"> Follow </a></p>
	{% endif %}
{% endif %}

<p><b>Description: </b> {{ object.description}}</p>
<p><b>Posts: </b> {{ count }} times</p>
<p><b>Created at: </b>{{ object.created_at|naturaltime }}</p>
<p><b>Admin: </b> <a href="{% url 'profile' slug=object.admin.username %}"> {{ object.admin.username }}</a></p>
{% if moderators_list %}
<p><b>Moderators: </b>
{% for moderator in moderators_list %}
	<a href="{% url 'profile' slug=moderator.username %}">{{ moderator.username }}</a>
{% endfor %}
{% endif %}
</p>

{% if request.user == object.admin or request.user in moderators_list or request.user.is_superuser %}
	<p><a href="{% url 'invite_moderator' pk=object.pk slug=object.slug %}"><b>Invite more moderators </b></a></p>
	<p><a href="{% url 'j_reports' pk=object.pk %}">Reports Modaration</a></p>
{% endif%}

<p><b>Followers: </b>
{% for follower in followers %}
	<a href="{% url 'profile' slug=follower.username%}"> {{ follower }}</a>
{% endfor %}
</p>
</div>

{% if request.user == object.admin %}
	<a href="{% url 'jaryanak_update' pk=object.pk %}">Edit</a>
{% endif %}
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="{% static 'links/js/vote.js' %}"></script>
    <script type="text/javascript" src="{% static 'links/js/search.js' %}"></script>
{% endblock %}
